<header>
  <h2>About me</h2>
</header>
<p>My name is Ilia <a href="https://www.howtopronounce.com/ilia">🔈</a> Sarantsev. I create web applications, and I focus on the front-end. You can reach me via <a href="mailto:ilya.sarantsev@gmail.com">email</a>.</p>