<header>
  <h2>About me</h2>
</header>
<p>My name is Ilya <a href="https://www.howtopronounce.com/ilya">🔈</a> Sarantsev. I create web applications, and I focus on the front-end. You can reach me via email <a href="mailto:ilya.sarantsev@gmail.com">ilya.sarantsev@gmail.com</a>. Refer to <a href="/cv">my resume</a> for a bit more details. </p>