<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
    <link rel="stylesheet" href="{{ '/cv/css/index.css' | url }}" />
    <title>Ilia Sarantsev resume</title>
  </head>
  <body>
    <main class="cv_main">
      <h1>Ilia Sarantsev resume</h1>
      <section class="cv_section">
        <h2>2020 and onward</h2>
        <p>
          Hey! My name is Ilia (<a href="https://www.howtopronounce.com/ilya">🔈</a>). I'm front-end engineer at
          <span class="company company-miro">Miro</span>. Basically every time you create a sticker on Miro board, type
          something or navigate around, one of pieces of code I've created is running. That's quite a big responsibility
          and we take your feedback seriously in our team.
        </p>
        <p>
          I'm curious about software engineering, design and soft-skills. If you want to chat please reach out to me via
          <a href="mailto:ilya.sarantsev@gmail.com">email</a>.
        </p>
      </section>
      <section class="cv_section">
        <h2>Previous experience</h2>
        <p>
          Previously I worked in <span class="company company-wrike">Wrike</span>. My goal as a front-end engineer there 
          was to improve user experience of our enterprice customers by providing them with means to configure access 
          roles, sharing permissions and auth settings.
        </p>
      </section>
    </main>
  </body>
</html>
