---
layout: base.njk
title: Ilia Sarantsev blog
---
<article class="page-section">
  {% include "pages/sections/aboutme.njk" %}
</article>

<section class="page-section">
  {% include "pages/sections/postlist.njk" %}
</section>